*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    background: hsl(0, 0%, 21%);
    width: 100sww;
}
section{
    border: 1px solid none;
    height: 100svh;
    overflow-y: hidden;
    & #background{
        height: 100svh;
        width: 100svw;
        position: absolute;
        border: 1px solid none;
        background-image: url(Hotel\ Reception111.png);
        background-size: cover;
        z-index: -1;
    }
    & #nav{
        border-bottom: 1px solid #1ed6fe;
        height: 100px;
        width: 100svw;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        box-shadow: 0px 2px 5px #1ed6fe;
        overflow: visible;
        & #logo{
            border: 1px solid none;
            height: 70px;
            width: 210px;
            display: flex;
            align-items: center;
            & b{
                font-family: 'Pacifico', cursive;
                font-size: large;
                color: #1ed6fe;
            }
        }
        & #navdetail{
            border: 1px solid none;
            height: 50px;
            width: 500px;
            display: flex;
            column-gap: 20px;
            align-items: center;
            justify-content: center;
            & ul{
                list-style: none;
                display: flex;
                column-gap: 40px;
                font-size: 25px;
                font-weight: bolder;
                font-family: 'Lilita One', sans-serif;
                color: #1ed6fe;
            }
        }
        & #contact{
            border: 1px solid none;
            height: 50px;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border-radius: 30px;
            transition: all 1s cubic-bezier(.36, .63, .5, .73);
            b{
                font-family: 'Pacifico', cursive;
                color: #1ed6fe;
            }
        }
        #contact:hover{
            background-color: #353535;
        }
        & #burger{
            height: 30px;
            width: auto;
            display: none;
            z-index: 1;
            cursor: pointer;
            #closeMenu{
                height: 50%;
                margin: 5px;
                width: auto;
                display: none;
            }
        }
    }
}
#burgerDrp{
    position: fixed;
    height: 0px;
    width: 0px;
    right: 0%;
    top: 15%;
    background-color: #fff;
    transition: 1s ease-in-out;
    z-index: 10;
    ul li{
        list-style: none;
        margin: 10px;
        cursor: pointer;
        font-family: 'Pacifico', cursive;
        color: #1ed6fe;
        border-bottom: 1px solid #1ed6fe;
    }
}

li:hover{
    text-decoration: underline;
    transform: scaleX(1.05);
    text-shadow: 1px 1px 5px #353535;
}
#text1{
    border: 1px solid none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: 60vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #1ed6fe;
    font-size: 30px;
    font-family: 'Lilita One', sans-serif;
    background-image: conic-gradient(rgba(0, 255, 255, 0.3), rgba(255, 20, 147, 0.3), rgba(255, 165, 0, 0.3), rgba(0, 255, 255, 0.3));
    border-radius: 50px;
    box-shadow: 0px 2px 10px white;
    text-shadow: 1px 1px 5px #353535;
    padding: 20px 10px;
}
#divider{
    height: 10px;
    width: 100svw;
    background: linear-gradient(141deg, cyan 0%, gold 40%, deeppink 90%);
}
#booking{
    border: 1px solid none;
    height: 100px;
    width: 80vw;
    position: static;
    margin: auto;
    margin-top: -51px;
    z-index: 1;
    background-image: conic-gradient(rgba(0, 255, 255, 0.8), rgba(255, 20, 147, 0.8), rgba(255, 165, 0, 0.8), rgba(0, 255, 255, 0.8));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px white;
    transition: 1.5s;
    cursor: pointer;
    form{
        display: flex;
        column-gap: 15px;
    }
    & #input{
        height: 50px;
        width: 250px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid none;
        border-radius: 50px;
        background-color: rgb(207, 206, 206);
        & input{
            height: 40px;
            width: 200px;
            background-color: rgb(207, 206, 206);
            border: none;
            font-size: large;
            font-family: 'Pacifico', cursive;
        }
        & select{
            height: 40px;
            width: 200px;
            background-color: rgb(207, 206, 206);
            border: none;
            font-size: large;
            font-family: 'Pacifico', cursive;
            color: rgba(48, 47, 47, 0.7);
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
    }
    & button{
        height: 50px;
        width: 250px;
        border-radius: 50px;
        border: 1px solid rgba(109, 163, 243, 0.7);
        background-color: #1ed6fe;
        cursor: pointer;
        font-size: large;
        font-family: 'Pacifico', cursive;
        outline: 1px solid #1ed6fe;
        transition: all 550ms cubic-bezier(.36, .63, .5, .73);
    }
}
input:focus{
    outline: none;
}
select:focus{
    outline: none;
}
#booking:hover{
    transform: scaleX(1.05);
    button:hover{
        background-color: rgba(20, 242, 250, 0.5);
        outline-offset: 15px;
        outline-color: rgba(109, 163, 243, 0);

    }
}
#intro{
    border: 1px solid none;
    height: 700px;
    width: 100vw;
    position: relative;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    color: white;
    transition: 1s;
    #introSub1{
        height: 500px;
        width: 500px;
        border: 1px solid none;
        background-image: url(HotelPool.png);
        background-size: cover;
    }
    #introSub2{
        height: 450px;
        width: 300px;
        border: 1px solid none;
        font-family: 'Dancing Script', cursive;
        & h1{
            font-size: 50px;
            font-weight: bolder;
        }
        & h2{
            font-size: 30px;
        }
        & p{
            font-size: 20px;
            font-family: 'Pacifico', cursive;
        }
    }
    #introSub3{
        height: 450px;
        width: 300px;
        border: 1px solid none;
        background-image: url(gencraft_image_1702935436122-1.png);
        background-size: cover;
    }
}
#rooms{
    height: fit-content;
    width: 100svw;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    padding: 50px 20px;
    color: whitesmoke;
    & h1{
        height: fit-content;
        font-size: 30px;
        font-weight: bolder;
        font-family: 'Pacifico', cursive;
    }
    & #roomtxt{
        & h3{
            font-size: 20px;
            font-weight: bolder;
            font-family: 'Lilita One', sans-serif; 
            display: flex;
            flex-wrap: wrap;
            align-items: center; 
        }
    }
    & #roomdiv1{
        /* border: 2px solid red; */
        height: 500px;
        max-width: 95svw;
        border: 1px solid none;
        display: flex;
        gap: 10px;
        padding: 20px;
        align-items: center;
        transition: 1s;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        cursor: pointer;
        a{
            color: aliceblue;
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        & #roomsub1{
            min-height: 320px;
            min-width: 320px;
            border: 1px solid none;
            background-image: url(HotelRoom.png);
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            transition: all 550ms cubic-bezier(.36, .63, .5, .73);
            scroll-snap-align: start;
        }
        & #roomsub2{
            min-height: 350px;
            min-width: 300px;
            border: 1px solid none;
            background-image: url(HotelRoom2.jpg);
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            transition: all 550ms cubic-bezier(.36, .63, .5, .73);
            scroll-snap-align: start;
        }
        & #roomsub3{
            min-height: 300px;
            min-width: 320px;
            border: 1px solid none;
            background-image: url(HotelRoom1.png);
            background-size: 320px 300px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            transition: all 550ms cubic-bezier(.36, .63, .5, .73);
            scroll-snap-align: start;
        }
        & #roomsub4{
            min-height: 350px;
            min-width: 300px;
            border: 1px solid none;
            background-image: url(HotelRoom3.png);
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            transition: all 550ms cubic-bezier(.36, .63, .5, .73);
            scroll-snap-align: start;
        }
        & #roomsub5{
            min-height: 300px;
            min-width: 320px;
            border: 1px solid none;
            background-image: url(Exclusive_Family.png);
            background-size: 320px 300px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            transition: all 550ms cubic-bezier(.36, .63, .5, .73);
            scroll-snap-align: start;
        }
        & #roomsub6{
            min-height: 350px;
            min-width: 300px;
            border: 1px solid none;
            background-image: url(VIP.png);
            background-size: 300px 350px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            transition: all 550ms cubic-bezier(.36, .63, .5, .73);
            scroll-snap-align: start;
        }
        & #roomsub7{
            min-height: 300px;
            min-width: 320px;
            border: 1px solid none;
            background-image: url(VVIP_Suite.png);
            background-size: 320px 300px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            transition: all 550ms cubic-bezier(.36, .63, .5, .73);
            scroll-snap-align: start;
        }
        & #roomsub8{
            min-height: 350px;
            min-width: 300px;
            border: 1px solid none;
            background-image: url(IMG_20231225_205900.jpg);
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            transition: all 550ms cubic-bezier(.36, .63, .5, .73);
            scroll-snap-align: start;
        }
    } 
}
#payback{
    height: 100%;
    width: 100%;
    background: rgba(92, 89, 89, 0.8);
    position: fixed;
    bottom: 0%;
    display: none;
    z-index: 10;
    #Pmnt{
        display: flex;
        align-items: center;
        justify-content: center;
        #X_pay{
            position: absolute;
            right: 2%;
            cursor: pointer;
        }
    }
    & #payment1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 600px;
    display: flex;
    flex-direction: row;
    background: rgb(216, 219, 219);
    border-radius: 5px;
    #paypic{
        height: 450px;
        width: 250px;
        /* background-image: url(HotelRoom.png); */
        background-size: cover;
        display: flex;
        align-items: last baseline;
        justify-content: right;
        text-align: right;
        padding: 10px;
        font-style: oblique;
        color: #d2e0e0;
        font-size: 20px;
        font-weight: 700;
        border-radius: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #paytxt{
        height: 450px;
        width: 350px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 10px;
        border-radius: 5px;
        & h1{
            text-align: center;
            color: #060707;
            font-family: 'Lilita One', sans-serif; 
        }
        & form{
            display: grid;
            color: #353535;
            row-gap: 10px;
            font-family: 'Lilita One', sans-serif;
            input{
                width: 300px;
                height: 30px;
                padding-left: 10px;
                border: 1px solid rgb(216, 219, 219);
                background: rgb(216, 219, 219);
                border-bottom: 1px solid #1ed6fe;
                font-family: 'Lilita One', sans-serif; 
            }
            #CvvPass{
                display: flex;
                flex-direction: row;
                column-gap: 20px;
                #cvv{
                    display: grid;
                    row-gap: 10px;
                    & input{
                        width: 140px;
                    }
                }
            }
            #terms{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: left;
                width: 300px;
                input{
                    height: 15px;
                    width: auto;
                }
                p a{
                    font-size: x-small;
                    margin-left: 10px;
                    text-decoration: none;
                    color: #353535;
                }
            }
        }
        #btn{
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                width: 200px;
                height: 35px;
                background: rgb(216, 219, 219);
                border: 1px solid rgb(216, 219, 219);
                border-radius: 30px;
                border-bottom: 3px solid #1ed6fe;
                font-family: 'Lilita One', sans-serif;
                transition: all .5s cubic-bezier(.36, .63, .5, .73);
                cursor: pointer;
                outline: none;
            }
        }
    }
}
}

#Payback #payment1:hover{
    #paytxt #btn button:hover{
        border: 2px solid #1ed6fe;
        outline: 1px solid #1ed6fe;
        outline-offset: 10px;
        outline-color: rgba(0, 238, 255, 0);
    }
}

#rooms:hover{
    #roomdiv1{
        #roomsub1:hover{
            box-shadow: 0px 0px 10px 2px rgb(231, 229, 229);
            transform: scale(1.05);
            border-radius: 5px;
        }
        #roomsub2:hover{
            box-shadow: 0px 0px 10px 2px rgb(231, 229, 229);
            transform: scale(1.05);
            border-radius: 5px;
        }
        #roomsub3:hover{
            box-shadow: 0px 0px 10px 2px rgb(231, 229, 229);
            transform: scale(1.05);
            border-radius: 5px;
        }
        #roomsub4:hover{
            box-shadow: 0px 0px 10px 2px rgb(231, 229, 229);
            transform: scale(1.05);
            border-radius: 5px;
        }
        #roomsub5:hover{
            box-shadow: 0px 0px 10px 2px rgb(231, 229, 229);
            transform: scale(1.05);
            border-radius: 5px;
        }
        #roomsub6:hover{
            box-shadow: 0px 0px 10px 2px rgb(231, 229, 229);
            transform: scale(1.05);
            border-radius: 5px;
        }
        #roomsub7:hover{
            box-shadow: 0px 0px 10px 2px rgb(231, 229, 229);
            transform: scale(1.05);
            border-radius: 5px;
        }
        #roomsub8:hover{
            box-shadow: 0px 0px 10px 2px rgb(231, 229, 229);
            transform: scale(1.05);
            border-radius: 5px;
        }
    }
}
#roomdiv1::-webkit-scrollbar{
    height: 10px;
}
#roomdiv1::-webkit-scrollbar-track{
    border-radius: 20px;
}
#roomdiv1::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: linear-gradient(141deg, olive 10%, red 50%, #1ed6fe 100%);
}
#ads{
    height: fit-content;
    background-color: #353535;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
    row-gap: 25px;
    transition: 1s;
    overflow: hidden;
    justify-content: center;
    & #offertxt{
        width: 100vw;
        text-align: center;
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
        font-weight: bolder;
        text-shadow: 1px 2px 5px whitesmoke;
    }
    & #offer1{
        height: 300px;
        width: 340px;
        background-image: url(Exclusive\ Suite.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: last baseline;
        padding-bottom: 10px;
        & #offersub1{
            height: 40px;
            width: auto;
            color: white;
            font-family: 'Pacifico', cursive;
            text-align: center;
            overflow: hidden;
            transition: 1s;
        }
    }
    & #offer2{
        height: 300px;
        width: 333px;
        background-image: url(ExclusiveRestaurant.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: last baseline;
        padding-bottom: 10px;
        & #offersub2{
            height: 40px;
            width: auto;
            color: white;
            font-family: 'Pacifico', cursive;
            text-align: center;
            overflow: hidden;
            transition: 1s;
        }
    }
    & #offer3{
        height: 300px;
        width: 333px;
        background-image: url(Sauna.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: last baseline;
        padding-bottom: 10px;
        & #offersub3{
            height: 40px;
            width: auto;
            color: white;
            font-family: 'Pacifico', cursive;
            text-align: center;
            overflow: hidden;
            transition: 1s;
        }
    }
    & #offer4{
        height: 300px;
        width: 340px;
        background-image: url(Kitchen.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: last baseline;
        padding-bottom: 10px;
        & #offersub4{
            height: 40px;
            width: auto;
            color: white;
            font-family: 'Pacifico', cursive;
            text-align: center;
            overflow: hidden;
            transition: 1s;
        }
    }
}
#ads:hover{
    #offer1:hover{
        #offersub1{
            height: 140px;
        }
    }
    #offer2:hover{
        #offersub2{
            height: 155px;
        }
    }
    #offer3:hover{
        #offersub3{
            height: 140px;
        }
    }
    #offer4:hover{
        #offersub4{
            height: 155px;
        }
    }
}
footer{
    height: 150px;
    width: 100vw;
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    & #location{
        height: 100px;
        width: 300px;
        border: 1px solid none;
        display: flex;
        flex-wrap: wrap;
        color: white;
        column-gap: 10px;
        box-shadow: 0px 1px 5px 1px #1ed6fe;
        padding: 5px;
        h1{
            font-family: 'Pacifico', cursive;
        }
        b{
            font-family: fantasy;
        }
    }
    & #Contact{
        height: 100px;
        width: 300px;
        border: 1px solid none;
        display: flex;
        flex-wrap: wrap;
        color: white;
        column-gap: 10px;
        box-shadow: 0px 1px 5px 1px #1ed6fe;
        padding: 5px;
        h1{
            font-family: 'Pacifico', cursive;
        }
        b{
            font-family: fantasy;
            font-size: 15px;
        }
    }
    & #right{
        height: 100px;
        width: 300px;
        border: 1px solid none;
        display: flex;
        flex-direction: column;
        color: white;
        row-gap: 10px;
        box-shadow: 0px 1px 5px 1px #1ed6fe;
        padding: 5px;
        h1{
            font-family: 'Pacifico', cursive;
        }
        .socials{
            b{
                font-family: fantasy;
                font-size: 10px;
            }
        }
    }
}
.goTop{
    height: 50px;
    width: 50px;
    border-radius: 50% 0% 50% 50%;
    transform: rotate(-45deg);
    background: linear-gradient(45deg, #1ed6fe 20%, #9ac7e4 50%, #dac170 100%);
    box-shadow: 0px 0px 5px 2px white;
    display: flex;
    justify-content: center;
    z-index: 10;
    position: fixed;
    right: 1%;
    bottom: 1%;
    font-size: 35px;
    outline: none;
    transition: all 1s cubic-bezier(.36, .63, .5, .73);
    a{
        color: red;
        cursor: context-menu;
        text-decoration: none;
        rotate: 45deg;
    }
}
.goTop:hover{
    outline: 1px solid rgb(255, 255, 255, 0);
    outline-offset: 20px;
}
@media all and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }
    section{
        height: 100vh;
        border: none;
        box-shadow: none;
        position: relative;
        #background{
            opacity: 0.5;
        }
        #nav{
            padding-left: 10px;
            padding-right: 10px;
            #navdetail{
                display: none;
            }
            #contact{
                display: none;
            }
            #burger{
                display: block;
            }
        }
        #text1{
            height: fit-content;
            width: 90vw;
            text-wrap: wrap;
            color: #1ed6fe;
            top: 40%;
            padding: 10px;
            font-size: 15px;
        }
    }
    #divider{
        display: none;
    }
    #booking{
        display: grid;
        height: fit-content;
        justify-content: center;
        width: 100%;
        padding: 10px 20px;
        position: absolute;
        top: 72%;
        form{
            display: grid;
            row-gap: 10px;
            #numberOfPersons{
                background: none;
            }
            #input{
                width: 100%;
                background-color: rgba(255, 255, 255, 0);
                border-radius: 0;
                border-bottom: 2px solid #1ed6fe;
                border-bottom-left-radius: 10px;
                input{
                    position: relative;
                    width: 100%;
                    background-color: rgba(255, 255, 255, 0);
                }
            }
            button{
                width: 50%;
                margin: auto;
            }
        }
        
    }
    #intro{
        display: none;
    }
    #rooms{
        overflow: hidden;
        position: static;
        height: fit-content;
        width: 90svw;
        margin: auto;
        display: grid;
        z-index: 10;
        gap: 0;
        padding: 10px;
        h1{
            width: 100%;
        }
        & #roomtxt{
            height: fit-content;
            width: 100%;
            h3{
                font-size: 11px;
            }
        }
        & #roomdiv1{
            width: 90svw;
            margin: auto;
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            overflow-x: hidden;
            scroll-snap-type: mandatory;
            row-gap: 10px;
            & #roomsub1{
                text-wrap: wrap;
            }
            & #roomsub2{
                text-wrap: wrap;
            }
            & #roomsub3{
                height: 250px;
                background-size: cover;
            }
            & #roomsub4{
                text-wrap: wrap;
            }
            & #roomsub5{
                text-wrap: wrap;
            }
            & #roomsub6{
                text-wrap: wrap;
            }
            & #roomsub7{
                text-wrap: wrap;
            }
            & #roomsub8{
                text-wrap: wrap;
            }
        }
    }
    #Payback{
        #payment1{
            width: auto;
            #paypic{
                display: none;
            }
            #paytxt{
                height: auto;
                width: fit-content;
                & form{
                    input{
                        width: 80svw;
                    }
                    #CvvPass{
                        #cvv{
                            & input{
                                width: 100%;
                            }
                        }
                    }
                    #terms{
                        display: flex;
                        width: auto;
                        input{
                            height: 15px;
                            width: auto;
                            margin-left: 0px;
                        }
                        p a{
                            font-size: x-small;
                            margin-left: 10px;
                            text-decoration: none;
                            color: #353535;
                        }
                    }
                    & #btn{
                        button{
                            width: 40svw;
                        }
                    }
                }
            }
        }
    }
    #ads{
        width: 90vw;
        margin: auto;
        height: fit-content;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        #offertxt{
            height: fit-content;
            width: auto;
        }
        #offer1{
            width: 90%;
            #offersub1{
                height: 25px;
            }
        }
    }
    #ads:hover{
        #offer1:hover{
            #offersub1{
                height: 160px;
            }
        }
        #offer2:hover{
            #offersub2{
                height: 180px;
            }
        }
        #offer3:hover{
            #offersub3{
                height: 160px;
            }
        }
        #offer4:hover{
            #offersub4{
                height: 160px;
            }
        }
    }
    footer{
        height: fit-content;
        width: 95svw;
        padding: 5px 10px;
        margin: auto;
        row-gap: 15px;
        flex-wrap: wrap;
        border-bottom: 5px solid #9ac7e4;
        #location{
            width: 40vw;
            align-items: center;
            justify-content: center;
            padding: 10px;
            & div{
                height: 35px;
                h1{
                    font-size: 15px;
                }
            }
            img{
                display: none;
            }
            b{
                font-size: 10px;
                font-weight: 300;
                margin-top: -20px;
            }
        }
        #Contact{
            width: 40vw;
            align-items: center;
            justify-content: center;
            padding: 10px;
            & div{
                height: 35px;
                h1{
                    font-size: 15px;
                }
            }
            img{
                display: none;
            }
            b{
                font-size: 10px;
                font-weight: 300;
                margin-top: -20px;
            }
        }
        #right{
            width: auto;
            padding: 10px;
            h1{
                font-size: 15px;
            }
            b{
                font-weight: 300;
            }
        }
    }
    .goTop{
        display: none;
    }
}